html {
  width: 100%;
}


.Container {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -60%); 
  width: 300px;
}

.FirstPart {
  margin-bottom: 70px;
}

.Title {
  font-size: 2em;
  font-weight: 900;
  text-align: left;
}

.Title2 {
  text-align: left;
}

.Subtitle {
  color: grey;
  text-align: right;
  margin-top: 10px;
  font-style: italic;
}

.TopicTitle {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.TopicTitle:hover {
  background-color: red;
  cursor: pointer;
  border-radius: 4px;
}

.Icons {
  margin-top: 10px;
  padding: 10px;
}

.Icon:hover {
  cursor: pointer;
}

.Contact {
  margin-top: 30px;
  padding: 10px;
  font-size: 0.95em;
}

.Block {
  display: inline-block;
}

.head {
  font-weight: 900;
  font-style: italic;
  width: 200px;
}

.tail {
  margin-left: 10px;
}
