@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Code Pro", monospace;
}
